---
caption: About
href: about
visible: true
position: 0
---
<h1 class="mb-0">{{ site.data.owner.first_name }}
  <span class="text-primary">{{ site.data.owner.last_name }}</span>
</h1>
<div class="subheading mb-5"> {{ site.data.owner.address }},
  <a href="{{ site.data.owner.email }}">{{ site.data.owner.email }}</a>
</div>

{% for paragraph in site.data.owner.resume %}
  <p class="lead mb-5"> {{ paragraph }} </p>
{% endfor %}

<div class="social-icons">
  {% for link in site.data.owner.social_links %}
    <a href="{{ link.href }}">
      <i class="fab fa-{{ link.icon }}"></i>
    </a>
  {% endfor %}
</div>
