---
caption: Education
href: education
visible: true
position: 2
---
<h2 class="mb-5">Education</h2>

{% for course in site.data.courses %}
  <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
      <h3 class="mb-0">{{ course.school }}</h3>
      <div class="subheading mb-3">{{ course.level }}</div>
      <ul class="fa-ul">
        {% for subject in course.subjects %}
          <li>
            <i class="fa fa-book"></i>
            {{ subject }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">{{ course.start_date }} - {{ course.end_date }}</span>
    </div>
  </div>
{% endfor %}
